<nav class="navbar navbar-expand-lg navbar-light bg-brown">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <div>
            <button class="btn btn-outline-brown" type="submit">Entrar</button>
            <button class="btn btn-outline-brown" type="submit">Cadastrar</button>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-beige" id="menu">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Livros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Resenhas</a></li>
                <li>
                    <a class="dropdown-item" href="#">Indicações</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <div class="dropdown">
                    <li class="dropend">
                        <a
                            class="dropdown-item dropdown-toggle"
                            href="#"
                            id="subnavbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Categorias
                        </a>
                        <ul
                            class="dropdown-menu dropdown-submenu"
                            aria-labelledby="subnavbarDropdown"
                        >
                            <li><a class="dropdown-item" href="#">Fantasia</a></li>
                            <li>
                                <a class="dropdown-item" href="#">Romance</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Filmes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Séries</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Viagens</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Músicas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Sobre</a>
        </li>
    </ul>
</nav>
