<div class="login">
    <div id="imagem-login">
        <div id="imagem-shadow">
            <p>Volta ao Mundo</p>
        </div>
    </div>
    <div id="formulario-login">
        <div>
            <img src="../../assets/images/Logo_blog.png" alt="Logo" width="200px" />
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="campos-login" placeholder="Digite o seu email" />
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Senha</label>
            <input type="email" class="form-control" id="campos-login" placeholder="Crie uma senha" />
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Confirmar a senha</label>
            <input type="email" class="form-control" id="campos-login" placeholder="Confirme a sua senha" />
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-primary" id="botao-login">Entrar</button>
        </div>
    </div>
</div>
